<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email Address</title>
</head>

<body>
    <div>
        <strong>Menu:</strong>
        <ul>
            <li>
                <a href="/account/email/">Change Email</a>
            </li>
            <li>
                <a href="/account/password/change/">Change Password</a>
            </li>
            <li>
                <a href="/account/logout/">Sign Out</a>
            </li>
        </ul>
    </div>

    <h1>
        Confirm Email Addresssdfdfsfd
    </h1>

    <p>
        Please confirm that <a href="mailto:asd@asd.com">asd@asd.com</a> is an email address for user asd.
    </p>

    <form method="post" action="/account/confirm-email/NA:1tGb9Z:ss3kXZZPKWmT3ht4la2pnV-fF2D4_WVGG1wQQ8X0U_g/">

        <input type="hidden" name="csrfmiddlewaretoken"
            value="PRzy3wEoMo2RDqox7isyTBQb5TgdscD7jXy5EoPHNK3JbhZdnOtBtruAJwdzOzNh">
        <button type="submit">
            Confirm
        </button>
    </form>
</body>

</html>